html {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 18px;
  margin: 0 auto;
  width: 80vw;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 3rem 0 4rem 0;
}

.container__articles {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 20vw;
  margin-bottom: 2rem;
}

.article:nth-child(even) .article--text {
  order: -1;
}

.article--image {
  width: 50%;
}

img {
  width: 100%;
}

.article--text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article--text h3,
.article--text p,
.article--text .date {
  margin: 1rem 2rem;
}

.date {
  align-items: flex-end;
}
